* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
}

input {
  width: 100%;
  height: 35px;
  background: #fafcff;
  border: 1px solid #8a9ca9;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
}

ul, ol {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: auto;
  color: #314159;
  font-family: 'Lato', sans-serif;
}

.tools {
  display: flex;
  align-items: center;
}

.change-view {
  margin-right: 10px;
}

.btn {
  position: relative;
  padding: 9px 30px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, .9);
  background: #314152;
  border-radius: 3px;
  cursor: pointer;
  transition: padding .3s;
}

.btn:hover::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .05);
}

.headline {
  margin: 10px 0;
}

.task {
  position: relative;
  width: 100%;
  margin: 5px 0;
  padding: 15px 65px;
  color: #314152;
  background: rgba(227, 227, 227, 1);
  border-radius: 5px;
  animation-name: initTask;
  animation-duration: .25s;
  animation-timing-function: ease-out;
}

.task--completed::after {
  content: '';
  background: rgba(65, 194, 112, .5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 5px;
  animation-name: complete;
  animation-duration: .2s;
}

.task__button {
  position: absolute;
  top: 0;
  height: 100%;
  width: 55px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.task__button--check {
  left: 0;
  background: #41c270;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.task__button--delete {
  right: 0;
  background: #e33932;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes initTask {
  from { padding: 0 65px; }
  to { padding: 15px 65px; }
}

@keyframes complete {
  from { width: 0; }
  to { width: 100%; }
}

